:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  text-decoration: none;
  font-size: 1.5em;
  color: black;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #747bff;
  width: 100%;
}

nav ul {
  list-style: none;
  text-align: left;
}

nav ul a {
  color: white;
}

h1 {
  margin: 50px auto;
}

h2 {
  margin: 20px;
}

h4 {
  font-size: 0.8em;
}

.company-card {
  width: 400px;
  margin: 20px;
  border: 1px solid lightgray;
  border-radius: 20px;
  box-shadow: 1px 0px 1px lightgray;
}

img {
  height: 80px;
  margin: 30px;
}

.companies-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.company-details {
  display: flex;
  align-items: center;
  margin: 0 10%;
}

.company-description {
  margin: 30px;
}

.tech-stack {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tech-image-card img {
  height: 50px;
}

.tech-image-card {
  margin: 20px;
  border: 1px solid lightgray;
  border-radius: 20px;
  box-shadow: 1px 0px 1px lightgray;
}

.tech-details {
  display: flex;
  align-items: center;
  margin: 0 10%;
}

.tech-description {
  margin: 30px;
}
